body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Текст в <p> на главной старнице */
.lg-text {
  font-size: 25px;
  text-align: center;
}

/* Фон главной страницы */
.background {
  width: 100%;
  height: 100vh;
  background-color: #484849;
  background-image: url(images2/e34m5.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: fixed;
  z-index: -1;
}

/* Главная страница */
.bg-overlay {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  opacity: 0.35;
}

/* нав меню */
li {
  list-style: none;
  padding: 5px;
}

h1 {
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

a {
  text-decoration: none;
}

.container {
  width: min(100% - 40px, 992px);
  margin-inline: auto;
  position: relative;
  padding-bottom: 32px;
  min-height: 100vh;
}

.articles_center {
  text-align: center;
}

.navbar-list {
  margin: 0;
  padding-top: 0;
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.navbar-link {
  display: block;
  color: inherit;
  background-color: #7ba6f2;
  padding: 15px 20px;
  border-radius: 7px;
  transition: background-color 0.3s, transform 0.3s;
}

.navbar-link:hover {
  background-color: tomato;
  transform: scale(1.1) translateY(-5px);
}

.header {
  background-color: #3d3d3d;
  padding-top: 10px;
  padding-bottom: 0;
  color: white;
}

.main {
  min-height: calc(100vh - 170px);
}

/* Для контента на страницы nav-page*/
.nav-articles-content {
  text-align: center;
  padding-bottom: 20px;
}

/* Стилизация тегов <a> на странице nav-page */
.nav-link-style {
  color: #7ba6f2;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background 0.3s;
  font-size: 25px;
}

.nav-link-style:hover {
  background-color: #e0f0ff;
  color: #0056b3;
  text-decoration: underline;
}
.nav-link-style:active {
  background-color: #cce5ff;
  color: #003d80;
}

/* Фон для статей */
.container_articles_main {
  text-align: center;
  padding: 30px;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.footer {
  background-color: gray;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 20px;
  text-align: center;
  width: 100vw; /* Устанавливаем ширину на весь экран */
}

/* Контейнер для заглавий статей */
.container_articles_a {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  color: #ff5722;
  text-decoration: none;
  border-bottom: 2px solid #000000;
}

/* Контейнер для параграфов статей на странице Articles*/
.container_articles_p {
  background-color: #a7965f;
  padding: 10px;
  border-radius: 10px;
}

/* Контейнер для ссылки читать далее... */
.container_articles_readmore {
  color: #4036c2;
  text-decoration: underline;
}

.container_articles_readmore:hover {
  color: #e74c3c;
  text-decoration: none;
}

/* Контейнер для комментариев */
.container_articles_comments {
  color: #737275;
  text-decoration: underline;
  padding-bottom: 10px;
}

.container_articles_comments:hover {
  color: #e74c3c;
  text-decoration: none;
}

/* Для каталога */

.style_for_ulcatalog {
  list-style: none;
  background-color: lightsteelblue;
  padding: 20px;
  width: 600px;
  margin: 0% auto;
  border-radius: 10px;
}

/* Стиль для категорий */
.style_for_p {
  font-size: 30px;
  margin-bottom: 10px;
  background-image: url(images2/images_for_catalog/Shopping-cart-in@3x.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 40px;
}

/* Стиль для подкатегорий */
.style_for_ol {
  list-style: none;
  background-color: #fff8dc;
  padding-left: 0;
  flex-direction: column;
}

/* Подкатегории — шрифт и маркер */
.style_for_ulcatalog_li {
  font-size: 18px;
  margin-bottom: 8px;
  background-image: url(images2/images_for_catalog/Tag-1@2x.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
  background-size: 20px;
}

.style_for_new {
  background-color: #ff6347;
  color: white;
  font-size: 12px;
  border-radius: 5px;
  font-weight: bold;
  padding: 2px 6px;
  margin-left: 10px;
}

/*бэкграунд общий*/
.background-main {
  width: 100%;
  height: 100vh;
  background-color: #484849;
  background-image: url(images2/bg-gallery.jpg);
  background-position: 50% 50%;
  position: fixed;
  z-index: -1;
}

/* Карта на странице Contact */
.map {
  justify-items: center;
}

/* Центральный фон*/
.bg-center {
  background-color: #737275;
  /* margin: 0 auto; */
  padding: 20px;
  z-index: -1;
  opacity: 0.7;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Flex контейнер для фото в галлерии */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 20px;
  justify-content: center;
  padding-bottom: 40px;
}

/* Рамка галлерея*/
.figure_style {
  text-align: center;
  max-width: 300px;
  border: 5px solid #153755;
  transition: border 0.3s ease-in-out;
  flex-basis: 25%;
  flex-grow: 1;
  margin: 0;
}

.figure_style img {
  object-fit: cover;
  width: 100%;
  display: block;
}

/* Рамка галлерея*/
.figure_style:hover {
  border-color: transparent;
}

/* текст в ссылках галлерея*/
.style_title_img {
  font-size: 25px;
  color: #f0f3f5;
}

.style_title_img:hover {
  color: #e74c3c;
}

/* Форма для регистрации и др формы */
fieldset {
  max-width: 500px;
  margin: 25px auto;
  background-color: lightsteelblue;
}

select,
input {
  width: 100%;
  padding: 10px 20px;
}

input[type="file"] {
  padding: 0;
}

input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

textarea {
  width: 100%;
  padding: 10px 20px;
  resize: vertical;
  min-height: 75px;
  max-height: 33vh;
}

.form-label {
  margin-bottom: 0.5em;
  display: block; /* Что бы применить margin для строчных элементов */
}

legend {
  transform: translateY(-10px);
  font-size: 20px;
  padding-bottom: 15px;
}

.form-group:not(:first-of-type) {
  margin: 15px 0 5px;
}

.form-group-sm {
  margin: 10px 0 5px;
  display: flex;
  align-items: center;
}

/* Отступ между чекбоксом и текстом */
input[type="Radio"],
input[type="checkbox"] {
  margin-right: 8px;
}

.btn {
  width: 100%;
  padding: 10px 20px;
}

.text_transform {
  text-transform: capitalize;
}

button {
  cursor: pointer;
}
